app-steps {
  .ant-steps-item-tail::after {
    transform: translateY(6px);
  }

  .ant-steps-item-process .ant-steps-item-icon {
    border-color: var(--color-brand) !important;
    background-color: var(--color-white);
    box-shadow: 0 0 0 5px var(--color-brand-light-5);
    margin-bottom: 5px;

    & > .ant-steps-icon {
      color: var(--color-brand) !important;
    }
  }

  .ant-steps-item-finish .ant-steps-item-icon {
    background-color: var(--color-brand) !important;
    border-color: var(--color-brand) !important;
    box-shadow: 0 0 0 5px var(--color-brand-light-5);

    & > .ant-steps-icon {
      color: var(--color-white) !important;
    }
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: var(--color-border);
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: var(--color-border);
  }
}
