.description-box{
    height: 194px;
    background-color: white;
}

.buttons{
    display: inline;
}

.action-buttons{
    width: 80%;
    background-color: #302638;
    border-color: #302638;
}

.title{
    background-color: white; 
    border: 0px;
    font-size: large; 
    font-weight: bold;
    padding: 6px 0px;
}

.proceeding-title{
    font-size: large;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
}

.proceeding-margin{
    margin: 15px;
}

.card-task-title{
    padding: 2px 0px;
}

.card-description{
    margin: 13px 0px;
}

.container{
    padding: 0px 0px 40px;
}

label{
    font-weight: bold;
}

