@import '../settings/index';
@import '../tools/index';
@import 'color';
@import 'rythm';
@import 'measures';
@import 'stacking';
@import 'font';
@import 'display';
@import 'animations';
@import 'borders';

.u-white-space-no-wrap {
  white-space: nowrap !important;
}

.u-white-space-pre-wrap {
  white-space: pre-wrap !important;
}

.u-opaque {
  opacity: 1 !important;
}

.u-cursor-pointer {
  cursor: pointer !important;
}

.u-cursor-no-drop {
  cursor: no-drop !important;
}

.u-cursor-default {
  cursor: default !important;
}

.u-cursor-auto {
  cursor: auto !important;
}

.u-padding-none {
  padding: 0 !important;
}

.u-padding-bottom-xxxsm {
  padding-bottom: var(--spacing-xxxsm) !important;
}

.u-padding-xlg {
  padding: var(--spacing-xlg) !important;
}

.u-padding-horizontal-md {
  padding-left: var(--spacing-md) !important;
  padding-right: var(--spacing-md) !important;
}

.u-padding-vertical-xsm {
  padding-top: var(--spacing-xsm) !important;
  padding-bottom: var(--spacing-xsm) !important;
}

.u-padding-xsm {
  padding: var(--spacing-xsm) !important;
}

.u-padding-bottom-gutter {
  padding-bottom: var(--spacing-gutter) !important;
}

.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

.u-padding-top-gutter {
  padding-top: var(--spacing-gutter) !important;
}

.u-padding-left-gutter {
  padding-left: var(--spacing-gutter) !important;
}

.u-padding-right-gutter {
  padding-right: var(--spacing-gutter) !important;
}

.u-margin-none {
  margin: 0 !important;
}

.u-margin-bottom-gutter {
  margin-bottom: var(--spacing-gutter) !important;
}

.u-overflow-inherit {
  overflow: inherit !important;
}

.u-no-mouse-events {
  pointer-events: none !important;
}

.u-mouse-events-auto {
  pointer-events: auto !important;
}

.u-font-weight-bold {
  font-weight: bold !important;
}

.u-font-weight-normal {
  font-weight: normal !important;
}

.u-text-align-center {
  text-align: center !important;
}

.u-text-align-end {
  text-align: end !important;
}

.u-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.u-box-shadow-none {
  box-shadow: none !important;
}

.u-position-relative {
  position: relative !important;
}

.u-position-absolute {
  position: absolute !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-lowercase {
  text-transform: lowercase !important;
}

.u-truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.u-white-space-nowrap {
  white-space: nowrap;
}

.u-overflow-y-auto {
  overflow-y: auto !important;
}

.u-overflow-y-hidden {
  overflow-y: hidden !important;
}

.u-overflow-hidden {
  overflow: hidden !important;
}

.u-overflow-wrap-break-word {
  overflow-wrap: break-word !important;
}

.u-overflow-auto {
  overflow: auto !important;
}

.u-outline-none {
  outline: none !important;
}

.u-user-select-none {
  user-select: none !important;
}

.u-color-hint {
  color: var(--color-hint) !important;
}

.u-pointer-events-none {
  pointer-events: none !important;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-bg-color-transparent {
  background-color: transparent !important;
}

.u-bg-color-white-dark-0 {
  background-color: var(--color-white-dark-0) !important;
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}
