.u-lower-z-index {
  z-index: var(--lower-z-index) !important;
}

.u-normal-z-index {
  z-index: var(--normal-z-index) !important;
}

.u-higher-z-index {
  z-index: var(--higher-z-index) !important;
}

.u-max-z-index {
  z-index: var(--max-z-index) !important;
}

.u-min-z-index {
  z-index: var(--min-z-index) !important;
}

.u-dropdowns-z-index {
  z-index: var(--dropdowns-z-index) !important;
}

.u-confirmation-dialog-z-index {
  z-index: var(--confirmation-dialog-z-index) !important;
}

.u-toastrs-z-index {
  z-index: var(--toastrs-z-index) !important;
}

.u-fabs-z-index {
  z-index: var(--fabs-z-index) !important;
}

.u-overlays-z-index {
  z-index: var(--overlays-z-index) !important;
}
