$color-main-bg: #e6e6e6;
$color-main-bg-light-1: lighten($color-main-bg, 5%);
$color-main-bg-dark-1: #cccccc;
$color-elevation-shadow: darken($color-main-bg, 20%);
$color-font: #343131;
$color-font-light-1: #4e4b4b;
$color-font-light-2: #676464;
$color-font-light-3: #817e7e;
